body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    text-align: center;
    background-color: #0a74da;
    color: white;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.team-card {
    background: white;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #0a74da;;
}

.players {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.player {
    flex: 1 1 45%;
    background: #f9f9f9;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
}